@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 100%;
	line-height: 1.4;
	background: #483e29;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}

a img {
	border: none;
}

a:link {
    color:#E7C681;
    text-decoration: underline;
}

a:visited {
    color: #E7C681;
    text-decoration: underline;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

.container {
	width: auto;
	max-width: 1260px;
	min-width: 780px;
	min-height: auto;
	background: #a2881b;
	margin: 0 auto;
    background: url("../img/notebook.gif") repeat;
	background-repeat-x: repeat;
	background-repeat-y: repeat;
	background-attachment: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
	color: #000000; /* text colour (black) */

	padding: 5px; /* distance from border edge to text */
}

.header {
	widows: 100%;
	background: #67593A;
	color: #E7C681;
	font-size: 100%;
	text-align: center;
}

.content {
	padding: 10px 0;
	width: 100%;
	margin: auto;
	min-height: 400px;
}

.fltrt {  
	float: right;
	margin-left: 8px;
}

.fltlft {
	float: left;
	margin-right: 8px;
}

.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.loginBarText {
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}	

.loginBar {
	padding-right:5px;
	vertical-align:middle;
}

.headerBubble
{
	font-size: 80%;
	text-align: center;
}

.headerBubbleError {
	background-color: #F03;
	color: #FFF;
}
.headerBubbleInfo {
	background-color: #FF6;
	color: #000;
}
.headerBubbleOK {
	background-color: #060;
	color: #FFF;
}

.fieldSet {
    height: 72pt;
}

.fieldSetLegend {
    font-size: 80%;
    font-weight: bold;
}

.fieldSetField {
    font-size: 70%;
    color: #666;
}

.appButton {
	display: 		block;
	background: 	#67593A;
	color: 			#E7C681;
	width: 			90px;
	/* [disabled]float:			right; */
	border:			1px solid #dedede;
	border-top:		1px solid #eee;
	border-left:	1px solid #eee;
	line-height:	130%;
	cursor:			pointer;
	padding:		5px 10px 6px 7px;
}

.appButton a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.appButton a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

.textButtonStyle {
	width: 260px;
	height: 30px;
	font-size: 1.3em;
}
